+++
title = "Diodes Delight"
linkTitle = "Diodes Delight"

+++
<link rel="me" href="https://hachyderm.io/@diodesdelight" />

{{< blocks/cover color="primary" >}}
<div class="mx-auto">
	<img src="logo.svg" style="max-width: 30%; margin-bottom: 3%">
	<h4 style="margin-bottom: 3%" class="display-5">
		We provide services for companies looking to develop new products or improve existing ones.
		<br><br>
		From conception to mass production, we can assist you in every step of the way.
		<br><br>
		Interested to work with us?
	</h4>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/contact-us" >}}">Get in touch!   <i class="fas fa-envelope"></i></a>
	<br><h4 style="margin-bottom: 3%" class="display-5">
		We also design and sell open source tools for engineers:
	</h4>
	<!-- <br> -->
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/products" >}}">Products <i class="fas fa-microchip ml-2"></i></a>
	
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="secondary" %}}

Our product [Documentation]({{< ref "/docs" >}})

Our source files and software sources can be found at [GitHub](https://github.com/Diodes-Delight)

{{% /blocks/lead %}}

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fab fa-github" title="Open Source!" url="https://github.com/Diodes-Delight" url_text="See our repos" %}}
All our products are Open Source, both hardware, and software; we welcome software contributions.

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-discord" title="Join the discussion!" url="https://discord.gg/FVARhRaJDN" url_text="Join our Discord" %}}
Join our Discord community and get help from other makers or show off your project.

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/diodesdelight" url_text="Visit our Twitter" %}}
For announcements of new products, information about events, etc.

{{% /blocks/feature %}}

{{< /blocks/section >}}


