+++
title = "Diodes Delight"
linkTitle = "Diodes Delight"

+++

{{< blocks/cover color="primary" >}}
<div class="mx-auto">
	<img src="logo.svg" style="max-width: 50%; margin-bottom: 3%">
	<h1 style="margin-bottom: 3%" class="display-1">Where diodes are delighted!</h1>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/products" >}}">Products <i class="fas fa-microchip ml-2"></i></a>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="secondary" %}}
Diodes Delight is a consultancy and design house for open hardware products.

Check out our products [Products]({{< ref "/products" >}}).

Do you want to work on a project with us? [Get in touch]({{< ref "/contact-us" >}}).

You can also check out the [Documentation]({{< ref "/docs" >}}).
{{% /blocks/lead %}}

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fab fa-github" title="Open Source!" url="https://github.com/Diodes-Delight" url_text="See our repos" %}}
All our products are Open Source, both hardware, and software; we welcome software contributions.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-discord" title="Join the discussion!" url="https://discord.gg/FVARhRaJDN" url_text="Join our Discord" %}}
Join our Discord community and get help from other makers or show off your project.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/diodesdelight" url_text="Visit our Twitter" %}}
For announcements of new products, information about events, etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}


